.songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    color: #fff;
}

.songRow:hover {
    cursor: pointer;
    background-color: #000;
    opacity: 0.8;
}

.songRow__info {
    margin-left: 20px;
}

.songRow__info h1 {
    font-size: 16px;
}

.songRow_info p {
    font-size: 14px;
    margin-top: 3px;
    color: #ccc;
}

.songRow__album {
    height: 40px;
    width: 40px;
}